%%-*- mode: erlang -*-
{erl_opts, [debug_info,
  {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
  {exometer_core, ".*", {git, "https://github.com/basho/exometer_core.git", {branch, "develop-3.0-riak_stat"}}}.
%%  {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {branch, "develop-3.0-riak_stat"}}}]}
%%  .

