{<<"name">>,<<"cf">>}.
{<<"version">>,<<"0.1.2">>}.
{<<"app">>,<<"cf">>}.
{<<"contributors">>,[<<"Heinz N. Gies <heinz@project-fifo.net>">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Terminal colour helper">>}.
{<<"files">>,
 [<<"src/cf.app.src">>,<<"src/cf.erl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"build_tools">>,[<<"rebar">>]}.
