{<<"name">>,<<"gen_fsm_compat">>}.
{<<"version">>,<<"0.3.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"gen_fsm_compat">>}.
{<<"maintainers">>,[<<"Heinz N. Gies">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"gen_fsm backwards compatibility">>}.
{<<"files">>,
 [<<"src/gen_fsm_compat.app.src">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/gen_fsm_compat.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"gitlab">>,<<"https://gitlab.com/Project-FiFo/gen_fsm_compat">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
