{<<"name">>,<<"riak_sysmon">>}.
{<<"version">>,<<"2.1.7">>}.
{<<"requirements">>,
 #{<<"lager">> =>
       #{<<"app">> => <<"lager">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.6.0">>}}}.
{<<"app">>,<<"riak_sysmon">>}.
{<<"maintainers">>,[<<"basho">>,<<"Heinz N. Gies">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Rate-limiting system_monitor event handler">>}.
{<<"files">>,
 [<<"src/riak_sysmon.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"priv/riak_sysmon.schema">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/riak_sysmon_app.erl">>,<<"src/riak_sysmon_example_handler.erl">>,
  <<"src/riak_sysmon_filter.erl">>,<<"src/riak_sysmon_sup.erl">>,
  <<"src/riak_sysmon_testhandler.erl">>]}.
{<<"licenses">>,[<<"Apache">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/basho/riak_sysmon">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
