{<<"name">>,<<"rebar_erl_vsn">>}.
{<<"version">>,<<"0.2.2">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"rebar_erl_vsn">>}.
{<<"maintainers">>,[<<"Heinz N. Gies">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"defines for erlang versions">>}.
{<<"files">>,
 [<<"src/rebar_erl_vsn.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/rebar_erl_vsn.erl">>,
  <<"src/rebar_erl_vsn_prv.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"build_tools">>,[<<"rebar3">>]}.
